@model WebApplicationSearch.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Register new user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change password!</h2>

<div class="row">
    <div class="col-md-4 offset-1">
        <h4>Input the new user.</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="OldPassword">Current Password</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm">Confirm</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Change Password</button>
                <a asp-action="ChangeUser" asp-controller="Account" class="btn btn-info"><i class="fa fa-chevron-left"></i> Back to user</a>
            </div>
        </form>
    </div>
    <div class="col-md-4 mr-auto ">
        <partial name="_AnotherServiceLogin" />
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
