@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">BotSolutionsGroup SAS</h1>

        <p>Herramienta para la busqueda en las centrales de riesgo de Colombia.</p>
        <p>Conozca mas sobre nostros <a href="https://www.botsolutionsgroup.com/">BotSolutionsGroup SAS</a>.</p>
    </div>
